[submodule "Vendors/BoringSSL"]
	path = Vendors/BoringSSL
	url = https://boringssl.googlesource.com/boringssl
[submodule "Vendors/nlohmann/json"]
	path = Vendors/nlohmann/json
	url = https://github.com/nlohmann/json.git
